/*
 * Footer
 * source: https://getbootstrap.com/docs/4.3/examples/blog/
 */
.default-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.default-footer p:last-child {
  margin-bottom: 0;
}
.full-viewport-height {
    min-height: 100%;
}